.daily-note-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  :global(.spinner-container) {
    min-height: 275px;
  }
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.editing-container {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0.5px 1px 0px #701b1b;
  background-color: #f9f2f2;
}

.editing {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0.5px 1px 0px #701b1b;
  background-color: #f9f2f2;

  .control-group .button-group {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
  }

  .control-group .button-group button {
    background-color: #f9f2f2;
  }

  .control-group .button-group button svg {
    width: clamp(18px, 2vw, 24px);
    height: clamp(18px, 2vw, 24px);
  }
  .control-group .button-group button.is-active {
    background-color: #e8e3f1;
  }
}

.editing-container {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .all-notes-btn {
    border: none;
  }
}

.daily-note-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 10px;
  padding-bottom: 40px;

  a {
    display: flex;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    transform: scale(1.4);
  }
}

.daily-notes-title {
  display: flex;
  justify-content: center;
  font-size: clamp(14px, 4vw, 18px);
  font-weight: 600;
}

.all-notes-link button {
  padding: 8px;
}
