.dailyNoteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  :global(.spinner-container) {
    min-height: 275px;
  }
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.editorContainer {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0.5px 1px 0px #701b1b;
  background-color: #f9f2f2;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.allNotesLink {
  flex: 1;
  button {
    padding: 8px;
  }
}

.dailyNoteControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 20px;
  padding-bottom: 40px;

  a {
    display: flex;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  a:hover svg {
    filter: invert(70%);
  }
}

.date {
  font-size: clamp(14px, 3.5vw, 16px);
  font-weight: 600;
}

.saveState {
  font-size: clamp(12px, 2vw, 14px);

  padding: 0 10px;
  /* align-self: flex-end; */
  justify-self: end;
}
