.authenticated-route {
  height: 100%;
  width: 100%;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-family: 'Playpen Sans', serif;

  font-size: 26px;
  margin-bottom: 1rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  button {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(16, 14, 14);
    background-color: #fefefe;
    border-color: lightgray;
    border-radius: 10px;
  }

  button:hover {
    text-decoration: underline;
  }
}

:global(#auth-sign-in),
:global(#auth-sign-up),
:global(#auth-forgot-password) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
