.authenticated-route {
  height: 100%;
  width: 100%;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  button {
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: rgb(85, 84, 84);
  }
}

:global(#auth-sign-in),
:global(#auth-sign-up),
:global(#auth-forgot-password) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
