.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.fetching {
  opacity: 0;
  background-color: blue;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: clamp(14px, 1vw, 24px);
    height: clamp(14px, 1vw, 24px);
  }
}

.minimize {
  cursor: pointer;
}

.minimize:hover svg {
  filter: invert(50%);
}

.edit:hover svg {
  filter: invert(30%);
}

.date {
  font-size: clamp(10px, 2vw, 14px);
}

.html {
  font-size: clamp(10px, 1.5vw, 12px);
  height: clamp(50px, 7vw, 100px);
  margin: 0px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;

  * {
    overflow: hidden;
  }

  ul {
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  ol {
    padding-left: 20px;
    padding-top: 0px;
  }

  li {
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
  }

  p {
    margin: 0px;
  }
}

.html.selected {
  height: clamp(80px, 20vw, 120px);
  border: 0.5px solid #fafafa;
  font-size: clamp(12px, 3vw, 14px);
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .container {
    gap: 0;
  }

  .html {
    padding-left: 1px;
  }
}
