.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fetching {
  opacity: 0;
  background-color: blue;
}

.date {
  font-size: 12px;
  font-size: clamp(10px, 2vw, 14px);
}

.html {
  font-size: clamp(10px, 1.5vw, 14px);
  height: clamp(50px, 7vw, 100px);
  margin: 0px;
  padding-left: 5px;
  overflow: scroll;
  ul {
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  ol {
    padding-left: 20px;
    padding-top: 0px;
  }

  li {
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
  }

  p {
    margin: 0px;
  }
}

@media (max-width: 800px) {
  .container {
    gap: 0;
  }

  .html {
    padding-left: 1px;
  }
}
