.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 5px;
}

.calendar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.monthControls {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  border-radius: 5px;
  gap: 15px;
  z-index: 10;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    transform: scale(1.4);
  }
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.monthName {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.daysInMonthContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
}

.daysInMonth {
  position: relative;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 100px));
}

.cell {
  border: 1px solid;
  margin: 2px;
  align-items: center;
  border-color: black;
  height: clamp(50px, 10vw, 100px);
  overflow: hidden;
}

.emptyCell {
  composes: cell;
  border: none;
}

.dayNameCell {
  composes: cell;
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  top: 80px;
  background-color: #f9f2f2;
  z-index: -1;
  border: 1px solid;
  border-radius: 5px;
  height: fit-content;
}

.dayCell {
  composes: cell;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px hsl(0deg 0% 0% / 0.1);
  background-color: #f9f2f2;
  overflow: hidden;
}

.dayCell.selected {
  position: absolute;
  z-index: 10;
  box-shadow: 1px 1px 1px hsl(0deg 0% 0% / 0.1);
  cursor: initial;
  /* width: clamp(60px, 40vw, 200px);
  height: clamp(80px, 50vw, 300px); */
  width: 50%;
  height: 50%;
  transition: transform 0.4s, width 0.4s, height 0.4s;
  animation-name: day-selected;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  top: 20%;
  left: 20%;
  /* transform: translate(-30%, -20%); */
}
/* 
.dayCell.selected.left.up {
  transform: translate(-30%, -20%);
}

.dayCell.selected.straight.up {
  transform: translate(-10%, -20%);
}

.dayCell.selected.right.up {
  transform: translate(5%, -20%);
} */

@media (hover: hover) {
  .dayCell:not(.selected):hover {
    background: #ffc627;
  }
}

.todayCell {
  composes: dayCell;
  font-weight: 700;
  font-size: 14px;
}

@keyframes day-selected {
  0% {
    top: var(--from-top);
    left: var(--from-left);
    /* transform: initial; */
  }

  100% {
    top: 20%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.loadingCell {
  composes: dayCell;
  animation: fade-in 1000ms ease-in-out infinite;
}

@media (max-width: 480px) {
  .dayCell {
    padding: 5px;
  }

  .selectedDayCell {
    padding: 5px;
  }

  .monthControls {
    top: 80px;
  }
  .daysInMonthContainer {
    margin-top: 40px;
  }
}
