.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 5px;
}

.calendar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month-controls {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  border-radius: 5px;
  gap: 15px;
  z-index: 10;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    transform: scale(1.4);
  }
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.month-name {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days-in-month-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
}

.days-in-month {
  position: relative;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 100px));
}

.cell {
  border: 1px solid;
  margin: 2px;
  align-items: center;
  border-color: black;
  height: clamp(50px, 10vw, 100px);
  overflow: hidden;
}

.empty-cell {
  composes: cell;
  border: none;
}

.day-name-cell {
  composes: cell;
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  top: 80px;
  background-color: #f9f2f2;
  z-index: -1;
  border: 1px solid;
  border-radius: 5px;
  height: fit-content;
}

.day-cell {
  composes: cell;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px hsl(0deg 0% 0% / 0.1);
  background-color: #f9f2f2;
  overflow: hidden;
}

.day-cell.selected {
  position: absolute;
  transform: translate(-20%, -20%);

  width: clamp(50px, 15vw, 150px);
  height: clamp(50px, 20vw, 200px);
  transition: all 0.5s;
  z-index: 10;
  /* background-color: #dfa9a9; */
  box-shadow: 1px 1px 1px hsl(0deg 0% 0% / 0.1);

  cursor: initial;
}

.day-cell:not(.selected):hover {
  background: #ffc627;
}

.today-cell {
  composes: day-cell;
  font-weight: 700;
  font-size: 14px;
}

@keyframes day-selected {
  0% {
    top: 0;
    left: 0;
    transform: initial;
  }

  50% {
    top: 50%;
    left: 50%;
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* transform: translate(-50%, -50%); */
  }
}

.selected-day-cell {
  composes: cell;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px hsl(0deg 0% 0% / 0.1);
  background-color: #f9f2f2;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transition: top 1s; */
  /* width: calc(125%); */
  /* height: calc(110%); */
  /* /* width: calc(100%); */
  /* width: 40%;
  height: 60%; */
  width: clamp(50px, 15vw, 200px);
  height: clamp(50px, 20vw, 250px);
  /* transform: translate(-25%, -25%); */
  /* transition: position 1s; */
  /* height: clamp(50px, 20vw, 200px); */
  /* animation: day-selected 2s; */
  /* transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: ease-out; */
  z-index: 10;
}

.day-controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.loading-cell {
  composes: day-cell;
  animation: fade-in 1000ms ease-in-out infinite;
}

/* .day-cell:hover {
  background: #ffc627;
  transition: background-color 500ms;
  transform: scale(1.25);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
  z-index: 0;
} */

@media (max-width: 480px) {
  .day-cell {
    padding: 5px;
  }

  .selected-day-cell {
    padding: 5px;
  }

  .month-controls {
    top: 80px;
  }
  .days-in-month-container {
    margin-top: 40px;
  }
}
