:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.02),
    0.8px 1.7px 2.6px -0.6px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium: 0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.03),
    4.1px 8.3px 13.1px -0.6px hsl(var(--shadow-color) / 0.14);
  --shadow-elevation-high: 0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.03),
    3.2px 6.4px 10.1px -0.2px hsl(var(--shadow-color) / 0.08),
    7.3px 14.7px 23.1px -0.4px hsl(var(--shadow-color) / 0.13),
    16.3px 32.5px 51.3px -0.6px hsl(var(--shadow-color) / 0.18);
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 5px;
}

.calendar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  padding-left: 10px;
  padding-top: 60px;
  display: flex;

  a {
    text-decoration: none;
  }
}

.monthControls {
  position: fixed;
  top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 100;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  a:hover svg {
    filter: invert(50%);
  }
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.monthName {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daysInMonthContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.daysInMonth {
  position: relative;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 100px));
  background-color: hsl(10, 70%, 98%, 0.3);
}

.cell {
  margin: 2px;
  align-items: center;
  height: clamp(50px, 14vw, 100px);
  overflow: hidden;
}

.emptyCell {
  composes: cell;
  border: none;
}

.dayNameCell {
  composes: cell;
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  top: 80px;
  background-color: hsl(0, 37%, 96%);
  z-index: 1;
  border: 1px solid;
  border-radius: 5px;
  height: fit-content;
}

.dayCell {
  composes: cell;
  border: 1px solid rgb(173, 150, 150);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-low);
  background-color: hsl(10, 70%, 97%);
  overflow: hidden;
}

.dayCell.today {
  border: 1px solid rgb(244, 147, 137);
}

.dayCell.selected {
  border-width: 1.1px;
  position: absolute;
  z-index: 10;
  box-shadow: var(--shadow-elevation-high);
  cursor: initial;
  width: clamp(60px, 22vw, 100px);
  height: clamp(80px, 30vw, 140px);
  transition: transform 0.5s, width 0.5s, height 0.5s;
}

.dayCell.selected.left.up {
  transform: translate(-30%, -20%);
}

.dayCell.selected.straight.up {
  transform: translate(-10%, -20%);
}

.dayCell.selected.right.up {
  transform: translate(5%, -20%);
}

@media (hover: hover) {
  .dayCell:not(.selected):hover {
    background: #ffc627;
  }
}

.todayCell {
  composes: dayCell;
  font-weight: 700;
  font-size: 14px;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.loadingCell {
  composes: dayCell;
  animation: fade-in 1000ms ease-in-out infinite;
}

@media (max-width: 480px) {
  .dayCell {
    padding: 5px;
  }

  .selectedDayCell {
    padding: 5px;
  }

  .header {
    padding-top: 50px;
  }

  .monthControls {
    top: 80px;
  }

  .dayCell.selected.left.up {
    transform: translate(-50%, -20%);
  }
}
