#header {
  width: 100%;
  position: static;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  z-index: 10;
}

#sign-out {
  text-decoration: underline;
  cursor: pointer;
}
