#header {
  position: static;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  z-index: 10;
  margin-bottom: 10px;
}

#signOut {
  text-decoration: underline;
  cursor: pointer;
}
